/* add custom styles */
.container {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#button-menu{
  margin: 20px;

}

#new-library-submit {
   margin: 20px;
}

#new-game-submit {
  margin: 20px;
}
